<div class="container">
    <div class="row">
        <section>
            <h1>Manage {{card.name}} Card!</h1>
            <p>Learn about <a href="https://dev.weebly.com/what-are-dashboard-cards.html" title="How to Create Weebly Dashboard Card App Documentation">Dashboard Card Apps</a>.
            <ul>
                <li>User: {{card.user_id}}</li>
                <li>Site: {{card.site_id}}</li>
                <li>Hidden: {{card.hidden}}</li>
                <li>Version: {{card.version}}</li>
                <li>Language: {{card.language}}</li>
                <li>Card Data: {{card.data}}</li>
            </ul>
            <button id="editorButton">Back to Editor</button>
            <button id="publishButton">Publish Now</button>
        </section>
    </div>
</div>
